<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>913909069356-684ff93jv2md5du5ejnfhprc5lrkgve7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.913909069356-684ff93jv2md5du5ejnfhprc5lrkgve7</string>
	<key>API_KEY</key>
	<string>AIzaSyAtTHnVy7epLliHVM4rgftRZZbKRzyJ_6s</string>
	<key>GCM_SENDER_ID</key>
	<string>913909069356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nn.PTNeideSimoes</string>
	<key>PROJECT_ID</key>
	<string>ptneidesimoes</string>
	<key>STORAGE_BUCKET</key>
	<string>ptneidesimoes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:913909069356:ios:3aeb85d679639a68</string>
	<key>DATABASE_URL</key>
	<string>https://ptneidesimoes.firebaseio.com</string>
</dict>
</plist>